body{
    background-color: #696969;
}
.title{
    text-align: center;
    color: white;
    border-color: white;
    border-style:solid;
    border-radius: 12px;
    font-family: "Courier New", Courier, monospace;
}
.dance{
    background-color: #f0f8ff;
    color:#696969;
    padding: 15px 32px;
    font-size: 25px;
    border-radius: 12px;
    font-family: "Courier New", Courier, monospace;
}
.ukulele{
    background-color: #e6e6fa;
    color:#696969;
    padding: 15px 32px;
    font-size:25px;
    border-radius: 12px;
    font-family: "Courier New", Courier, monospace;
}
.mythology{
    background-color: #f0fff0;
    color:#696969;
    padding: 15px 32px;
    font-size:25px;
    border-radius: 12px;
    font-family: "Courier New", Courier, monospace;
}
#buttons{
    display:flex;
    align-items:center;
    justify-content:center;
}
.column {
  float: left;
  width: 33%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.image{
    color:white;
    border: dashed;
    border-bottom-color: white;
    border-top-color: white;
    border-left-color: black;
    border-right-color:black;
}
.row2{
    display:flex;
}
.column2{
    width:50%;
    padding:5%;
}
#facts{
    color:white;
    border:dotted;
}
#hobbies{
    color:white;
     border:dotted;
}
h3{
    text-align:center;
     border:dashed;
     border-radius: 12px;
}
.caption{
    border: dashed;
    border-bottom-color: black;
    border-top-color: black;
    border-right-color: white;
    border-left-color: white;
}