body{
    background-color: #A9B7C0;
}
.card{
    background-color: #EFD9C1;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
}
.jumbotron{
    background-color: #CCCBC6;
    font-family: "Courier New", Courier, monospace;
}